# Python
venv/
__pycache__/
.pytest_cache/
*.pyc

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.spec

# Installer artifacts
dist_installer/*.exe
dist_installer/*.rar
dist_installer/*.zip

# Certificates and private keys
*.pfx
*.cer

# Compiled executables
*.exe

# Compressed files
*.rar
*.zip
